.Body {
  @import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;600&display=swap');
  font-size: 1.6em;
  justify-content: center;
  text-align: left;
  max-width: 100%;
  padding-right: 20%;
  padding-left: 20%;
  padding-bottom: 5%;
  margin: auto;
  border: 4px;
  background-color: white;
  
}

.Background{
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background-image: url("main_background.png");
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    position: fixed;
    resize: both;
    z-index: -1;
}
